h2 {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  background-color: #def;
}

h3 {
  font-size: 100%;
  font-weight: normal;
  border-top: 1px solid #def;
  border-bottom: 3px solid #def;
  border-left: 10px solid #def;
  border-right: 3px solid #def;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}

h4 {
  font-weight: normal;
  font-size: 90%;
  border-left: 15px solid #def;
  padding: 0.3em;
}

.page_heading {
  margin: 0;
}

.price_table_div {
  display: flex;
}

.item_category_links a {
  text-decoration: none;
  padding-right: 10px;
  font-size: 80%;
  color: #215dc6;
}

.item_category_links a:hover {
  text-decoration: underline;
}

.item_category_links a:visited {
  color: #a63d21;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

table th {
  background-color: lightgray;
}

table th,
table td {
  padding: 0.35em;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 90%;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

table a {
  color: #215dc6;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

table a:visited {
  color: #a63d21;
}
